<img data-sly-test="${(wcmmode.edit || wcmmode.design)}"
    data-emptytext="Author Hello World Component Here." style="width: 100px" 
    data-emptytext="Author Hello World Component Here." style="width: 100px"
    src="/libs/cq/ui/resources/0.gif" class="cq-placeholder" alt="Author Hello World Component Here." />

<sly data-sly-use.hello="com.example.maven.core.models.HelloWorldModel" data-sly-unwrap>
    <hello-world-connector
        data-component
        col-one-message="${ properties.colOneMessage }"
        col-two-message="${ properties.colTwoMessage }">
        <template slot="slot-two">
            <p>Slot Example</p>
        </template>
        <template slot="slot-one">
            <p>Slot Example</p>
        </template>
    </hello-world-connector>
</sly>
