<img data-sly-test="${(wcmmode.edit || wcmmode.design)}"
    data-emptytext="Author Hello World Component Here." style="width: 100px" 
    data-emptytext="Author Hello World Component Here." style="width: 100px"
    src="/libs/cq/ui/resources/0.gif" class="cq-placeholder" alt="Author Hello World Component Here." />

<sly data-sly-use.hello="com.austen.maven.core.models.HelloWorldModel" data-sly-unwrap>
    <hello-world-connector data-component name="${ properties.text }">
        Slot example
    </hello-world-connector>
</sly>
